.contact
{
    a
    {
        text-decoration: none;
    }

    &__title
    {
        margin-top: 0;
    }

    & img
    {
        height: 150px;
        transition: all 0.7s ease;

        &:hover
        {
            transform: rotate(15deg);
        }
    }
}
